container_commands:
  00_setup:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && source /opt/python/current/env"
  01_migrate:
    command: "python /var/app/current/manage.py migrate --noinput"
    leader_only: true
  02_superuser:
    command: "python /var/app/current/manage.py superuser"
    leader_only: true
  03_collectstatic:
    command: "python /var/app/current/manage.py collectstatic --noinput"