container_commands:
  00_venv:
    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env"
  01_migrate:
    command: "python /opt/python/current/app/manage.py migrate --noinput"
    leader_only: true
  02_superuser:
    command: "python /opt/python/current/app/manage.py superuser"
    leader_only: true
  03_collectstatic:
    command: "python /opt/python/current/app/manage.py collectstatic --noinput"