container_commands:
  00_venv:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate"
  01_migrate:
    command: "python /var/app/current/manage.py migrate --noinput --settings Orpose.settings.production"
    leader_only: true
  02_superuser:
    command: "python /var/app/current/manage.py superuser"
    leader_only: true
  03_collectstatic:
    command: "python /var/app/current/manage.py collectstatic --noinput"