container_commands:
  02_superuser:
    command: "echo -e 'docker exec `docker ps -a -q | head -n 1` python /var/app/manage.py superuser' > /tmp/deploy.log"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "Orpose.settings.production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: Orpose/wsgi.py