packages:
  yum:
    mysql-devel: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: "
      #!/bin/bash\n
      if [ -f /tmp/leader_only ]; then\n
        echo 'Running migrations'\n
        cd /opt/python\n
        container_id=`docker ps -a -q | head -n 1`\n
        docker exec $container_id run/venv/bin/python current/app/manage.py migrate --noinput\n
      fi
    "
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_rm_leader_only.sh":
    mode: "000755"
    owner: root
    group: root
    content: "
      #!/bin/bash\n
      if [ -f /tmp/leader_only ]; then\n
        echo 'Deleting leader_only file'\n
        rm /tmp/leader_only\n
      fi
    "

container_commands:
  01_touch_the_leader:
    command: "#!/bin/bash\ntouch /tmp/leader_only"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "Orpose.settings.production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: Orpose/wsgi.py