files:
  "/etc/httpd/conf.d/ssl_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/django.log

packages:
  yum:
    mysql-devel: []

container_commands:
  01_wsgipass:
    command: "echo 'WSGIPassAuthorization On' >> ../wsgi.conf"
  02_setup_logging:
    command: "mkdir -p /var/log/app-logs && chmod g+s /var/log/app-logs && chown wsgi:wsgi /var/log/app-logs"
  04_migrate:
    command: "cd /opt/python && source current/env && run/venv/bin/python current/app/manage.py migrate --noinput"
    leader_only: true
  05_collect_benchmarks:
    command: "cd /opt/python && source current/env && run/venv/bin/python current/app/manage.py collect_benchmarks"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "Orpose.settings.production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: Orpose/wsgi.py
