<!DOCTYPE html>
<html lang="sv">
<head>
    <style>
        body {
            position: relative;
            height: 100vh;
        }
        div {
            position: absolute;
            top: 25%;
            transform: translateY(-50%);
            width: 100%;
        }
        h1, p {
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Detta är webbsidans startsida</h1>
        <p>Gå till <a href="/admin/">admin konsolen</a> om du vill använda databas gränssnittet</p>
    </div>
</body>
</html>